$bg-primary: #686870;
$bg-secondary: #45454b;
$bg-panel: #89898f;
$link-active: #c5c5c5;
$white: #fff;
$orange: #ff9100;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-primary;
}

h1,
h2,
h3,
p,
ul,
li {
  color: $white;
}

h1,
h2,
h3 {
  font-family: Oswald, Arial, sans-serif;
}

p {
  color: $white;
  padding: 0 1em 1em;
}

a {
  transition: 0.125s;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.heading {
  margin-bottom: 1.5rem;
  text-align: center;
}

.icon {
  font-size: 1.75rem;
}

.justify-lt {
  text-justify: left;
}

.margin-top {
  margin-top: 1.5rem;
}

.panel {
  background-color: $bg-panel;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  overflow: hidden;
  width: 100%;
}
