$color-text: #45454b;
$color-heading-text: #45454b;

$system-default-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';

$heading-font-family: $system-default-font-family;
$heading-font-weight: 600;

$content-font-family: $system-default-font-family;
$content-font-weight: 400;

%font-heading {
  font-family: 'Oswald', $heading-font-family;
  font-weight: $heading-font-weight;
  color: $color-heading-text;
}

%font-content {
  font-family: 'Avenir', $content-font-family;
  font-weight: $content-font-weight;
  color: $color-text;
}

%column {
  display: flex;
  flex-direction: column;
}

%row {
  display: flex;
  flex-direction: row;
}